<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>Airline Planner</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>All Available Cities</h1>
        <h4><em>Administrator View</em></h4>
			</div>
        @if(Model!=null)
        {
          foreach (var city in Model)
          {
          <h1>@city.GetName()</h1>
          }
        }
				<h5><strong><a href="/">Home</a></strong> | <strong><a href="/cities/add">Add City</a></strong></h5>
    </div>
  </body>
</html>
